*.txt
*.synctex.gz
.DS_Store
*.aux
*.log
*.out
*.dvi
*.ps
*.eps
*.bmp
*.run.xml
*.bbl
*.blg
*.pdf
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.synctex.gz(idle)
*.synctex.gz(old)
*.synctex.gz(new)
*.synctex.gz(new)
*.bcf
*.bcf.run.xml
*.bcf.run.xml(busy)
*.bcf.run.xml(idle)
*.bcf.run.xml(old)
*.bcf.run.xml(new)
*.bcf.run.xml(new)